<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Contenido principal"},"anchor":"pf-main","className":"pf-main","layout":{"type":"default"}} -->
<main id="pf-main" class="wp-block-group pf-main">
	<!-- wp:group {"className":"pf-page-header","layout":{"type":"constrained"},"style":{"spacing":{"padding":{"top":"var:preset|spacing|xl","bottom":"var:preset|spacing|md"}}}} -->
	<div class="wp-block-group pf-page-header" style="padding-top:var(--wp--preset--spacing--xl);padding-bottom:var(--wp--preset--spacing--md)">
		<!-- wp:post-title {"level":1,"fontSize":"xxl"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:post-content {"className":"pf-content","layout":{"type":"constrained"}} /-->

	<!-- wp:spacer {"height":"var:preset|spacing|xxl"} -->
	<div style="height:var(--wp--preset--spacing--xxl)" aria-hidden="true" class="wp-block-spacer"></div>
	<!-- /wp:spacer -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
